<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UnicodeFilter</filter-name>
        <filter-class>project.filter.UnicodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UnicodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>project.listener.MyContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>project.servlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlServlet</servlet-name>
        <servlet-class>project.servlet.CrawlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>project.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCanvasMatchingImageServlet</servlet-name>
        <servlet-class>project.servlet.GetCanvasMatchingImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocationServlet</servlet-name>
        <servlet-class>project.servlet.AddLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLocationServlet</servlet-name>
        <servlet-class>project.servlet.GetLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLocationServlet</servlet-name>
        <servlet-class>project.servlet.UpdateLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLocationServlet</servlet-name>
        <servlet-class>project.servlet.DeleteLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCanvasMatchingColorServlet</servlet-name>
        <servlet-class>project.servlet.GetCanvasMatchingColorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlServlet</servlet-name>
        <url-pattern>/CrawlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCanvasMatchingImageServlet</servlet-name>
        <url-pattern>/GetCanvasMatchingImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocationServlet</servlet-name>
        <url-pattern>/AddLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLocationServlet</servlet-name>
        <url-pattern>/GetLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLocationServlet</servlet-name>
        <url-pattern>/UpdateLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLocationServlet</servlet-name>
        <url-pattern>/DeleteLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCanvasMatchingColorServlet</servlet-name>
        <url-pattern>/GetCanvasMatchingColorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>CanvasDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>ProcessServlet</welcome-file>
    </welcome-file-list>
</web-app>
