/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2019, 12:49:52 PM
    Author     : thuyv
*/

body {
    margin: 0;
    background-color: #e6e6e6;
}

.content {
    margin: 15px;
}

.logo{
    vertical-align:middle; 
    text-align:center;
    background-color: #393e46;
}

.logo > img {
    width: auto;
    height: 100px;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

.input-file-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.input-file-label:hover {
    border: 1px solid #ccc;
    background-color: #393e46;
    display: inline-block;
    cursor: pointer;
    color: white;
}

/*.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    color: white;
    background-color: black;
    display: inline-block;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: red;
}*/

.preview {
    display: inline-block;
    width: auto;
    height: 400px;
}

.span-palette {
    display: inline-block;
}

.span-palette > div {
    height: 80px; 
    width: 80px;
}

.span-result {
    border: 1px solid #ccc;
    display: inline-block;
    width: 30%;
    height: auto;
    vertical-align: middle; 
    text-align: center;
}