/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2019, 12:49:52 PM
    Author     : thuyv
*/

body {
    margin: 0;
    background-color: #e6e6e6;
    font-size: 15px;
    font-family: monospace;
}

.content {
    margin: 15px;
}

.logo{
    vertical-align:middle; 
    text-align:center;
    background-color: #393e46;
}

.logo > img {
    width: auto;
    height: 100px;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

.input-file-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.input-file-label:hover {
    border: 1px solid #ccc;
    background-color: #393e46;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.preview {
    /*display: none;*/
    display: inline-block;
    width: auto;
    height: 400px;
}

.span-palette {
    display: inline-block;
}

.span-palette > div {
    height: 80px; 
    width: 80px;
}

.span-palette-small {
    display: inline-block;
}

.span-palette-small > div {
    height: 40px;
    width: 40px;
}

.span-result {
    border: 2px solid #ccc;
    display: inline-block;
    width: 30%;
    height: auto;
    min-height: 270px;
    vertical-align: middle; 
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.span-result > img {
    width: auto;
    height: 200px;
}

/* HIDE RADIO */
input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
input[type=radio] + img {
    cursor: pointer;
}

/*input [type=radio]:hover + img {
    cursor: pointer;
    background-color: #e6e6e6;
}*/

/* CHECKED STYLES */
/*.div-location > label > input[type=radio]:checked + img {
    background: #393e46;
    background-color: #393e46;
}*/

.div-location > input[type=radio]:checked + label > img,
.div-location > input[type=radio]:checked + label > p {
    background: #393e46;
    background-color: #393e46;
    color: white;
}

.div-location {
    width: 150px; 
    height: auto; 
    text-align: center; 
    display: inline-block
}

.div-location:hover {
    background-color: #cccccc; 
}

/*.div-location + input[type=radio]:checked {
    background: aquamarine; 
    outline: 2px solid #f00;
}*/

.div-location > label > img {
    width: 100px;
    height: 100px;
    padding: 25px;
    margin: 0px;
}

.div-location > label {
    padding: 0px;
    margin: 0px;
}

.div-location > label > p {
    margin: 0px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 130px;
    height: 35px;
}